body {
    background-color: #333;
    color: #dddddd;
    font-family: Helvetica, sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b070cc;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* change buttons to darker purple when hovered over */
  li a:hover {
    background-color: #805194;
  }